<!-- this should appear over everything when the text has been submitted successfully -->
<div class="alert alert-success">
  <strong>Success!</strong> Indicates a successful or positive action.
</div>