<!doctype html>
<html ng-app="fathr">
  <head>
  <!-- datetimepicker style -->
    
    <link rel="stylesheet" href="/angular-ui-bootstrap-datetimepicker/datetimepicker.css"> 
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">


   
  <!-- JS -->
  <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
 
 `<!-- angular -->
    <script type="text/javascript" src="/angular/angular.min.js"></script>
    <script src="/angular-route/angular-route.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="/angular-ui-bootstrap-datetimepicker/datetimepicker.js"></script>
    <script src="js/app.js"></script>
    <script src="js/appRoutes.js"></script>
    <script src="js/MainCtrl.js"></script>

  </head>
  <body> 
     
 

    <div ng-controller="DatePicker" class="container">
      <div class="form-group">
        <img style="margin-left: 20%" alt="meme" src="<%= img %>" class="img-rounded">>
      </div>

      <br>
      <form>
        <div class="form-group">
          <label for="message"><h1>Thing To Do</h1></label>
          <input type="text" maxlength="25" class="form-control" ng-model="Alert.message"id="message" placeholder="type the alert message here">
        </div>
        <div class="form-group">
          <label for="phone"><h1>Number to send it To</h1></label>
          <input type="text" maxlength="15" class="form-control" id="phone" name="phone" ng-model="Alert.phone"placeholder="phone number to which we will text the alert at due time">
        </div>
        
        <br>
        <h1>Due At:</h1>
        <br>
          <pre>Selected time and date is: <em>{{date | date:'shortTime' }}, {{date | date:'fullDate' }}</em></pre>


          <datetimepicker name="date" ng-model="Alert.due_at" placeholder="mm/dd/yyyy" min-date="minDate" show-weeks="showWeeks" hour-step="hourStep" minute-step="minuteStep" ng-model="date" show-meridian="showMeridian" date-format="dd-MMM-yyyy" date-options="dateOptions" date-disabled="disabled(date, mode)" readonly-time="false"></datetimepicker>
          <button type="submit" ng-click="alertMe()"class="btn btn-primary btn-lg">Submit</button>
      </form>
        <hr>
        <div class="form-group">
          <button class="btn btn-default btn-sm" ng-click="dateTimeNow()" tooltip="Set date and time to now">Now</button>
          <button class="btn btn-default btn-sm" ng-click="toggleMinDate()" tooltip="After today restriction">Min date</button>
          <button class="btn btn-default btn-sm" ng-click="timeToggleMode()">12H / 24H</button>
        </div>
        <div class="row">
          <div class="col-xs-2 col-sm-2">Hours step</div>
          <div class="col-xs-3">
            <select ng-model="hourStep" class="form-control" ng-options="opt for opt in timeOptions.hourStep"></select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 col-sm-2">Minutes step</div>
          <div class="col-xs-3">
            <select ng-model="minuteStep" class="form-control" ng-options="opt for opt in timeOptions.minuteStep"></select>
          </div>
        </div>
      </div>
  </body>
</html>
