@import url(https://fonts.googleapis.com/css?family=Knewave);

label{
	font-family: 'Impact' !important;
}

.shadow {
	z-index: 10;
	-webkit-box-shadow: 27px 2px 161px -13px rgba(0,0,0,0.75)!important;
}
input {
	 box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    border: 2px solid #dadada;
    border-radius: 7px;
}

input:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}


img{
	margin-top: 5%;
	margin-left: 20%;
	display: block;
}

#welcome {
	position: relative;
	z-index: 10;
	margin-left: 30%;
	font-family: Knewave;
	font-size: 500%;
	color: pink;
	opacity: 0;

}

@media (min-width: 800px) { 
	
#top-page {
	margin-top: -50%;
}

	#welcome {
		position: relative;
		top: 300px;
		z-index: 10;
		margin-left: 30%;
		font-family: Knewave;
		font-size: 400%;
		color: pink !important; 
		opacity: 0;
	}

}